.banner {
  background-image: url("https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/media/image/2020/02/estantes-figuras-funko-pop-1861835.jpg?tf=3840x");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 400px;
  display: flex;
  align-items: end;
}
.banner-fondo{
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: end;
}
.banner-contenedor {
  margin-left: 10%;
  padding: 2rem 0;
  line-height: 3rem;
  color: var(--blanco);
}

.banner-titulo {
  font-size: 3.25rem;
  font-weight: 700;
}

.banner-subtitulo {
  color: var(--blanco);
  font-size: 1.375rem;
  font-weight: 700;
}

.banner-boton {
  padding: 1rem;
  background: var(--azul, #2a7ae4);
  color: var(--blanco);
  font-size: 1rem;
  cursor: pointer;
}

@media (max-width: 850px) {
  .banner {
    height: auto;
  }

  .banner-contenedor {
    margin: 0;
  }

  .banner-titulo {
    font-size: 2rem;
    font-weight: 500;
  }

  .banner-subtitulo {
    font-size: 1rem;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 1rem;
  }
}
