.login {
  background-color: var(--gclaro);
  display: flex;
  padding: 5.75rem;
  width: 100%;
  justify-content: center;
}

.contenedor-login {
  display: flex;
  flex-direction: column;
  width: 423px;
  gap: 1rem;
}

.contenedor-login label {
  color: var(--goscuro, #464646);
  font-weight: 700;
  font-size: 18px;
  text-align: center;
}

.contenedor-login input {
  padding: 5px;
  height: 50px;
  border: none;
  border-radius: 5px;
  outline-color: var(--azul);
}

.contenedor-login::placeholder {
  color: var(--gmedio);
  padding: 0.75rem;
  font-family: Raleway;
}

.login-btn {
  padding: 1rem;
  border: none;
  background-color: var(--azul);
  color: var(--blanco);
  font-size: 1rem;
}
