.encabezado {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2rem 0;
}
.logo {
  width: 11rem;
}

.contenedor-buscador {
  position: relative;
  padding: 5px;
}

.buscador {
  background-color: var(--gclaro);
  outline-color: var(--azul);
  width: 0;
  height: 40px;
  padding: 0px 20px;
  font-size: 18px;
  border-radius: 30px;
  border: none;
  transition: all 0.6s ease;
}

.btn {
  width: 55px;
  height: 55px;
  line-height: 55px;
  top: 0;
  right: 0;
  position: absolute;
  background: var(--azul);
  text-align: center;
  font-size: 18px;
  border-radius: 50px;
  cursor: pointer;
}

.lupa {
  color: white;
}

.contenedor-buscador:hover input {
  width: 250px;
}

.buscador:focus {
  background-color: #fff;
  width: 240px;
}

.login-boton {
  display: flex;
  width: 182px;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  cursor: pointer;
  border: 1px solid var(--azul);
  color: var(--azul);
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  font-weight: 700;
}

@media (max-width: 850px) {
  .encabezado {
    flex-wrap: wrap;
    gap: 2rem;
  }

  .logo {
    width: auto;
  }

  .contenedor-buscador {
    order: 1;
  }
}
