.contenido-producto {
  padding: 5% 10%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 10rem), 1fr));
  gap: 1rem;
}

.eliminar{
  display: block;
  
}
.editar{
  display: block;
}
/* .card {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 0.5rem;
  color: var(--goscuro);
}

.card p {
  font-size: 0.875rem;
}

.card a {
  text-decoration: none;
  color: var(--azul);
  font-weight: 700;
} */